@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #FFFFFF;
  --foreground: #252525;
  --card: #FFFFFF;
  --card-foreground: #252525;
  --popover: #FFFFFF;
  --popover-foreground: #252525;

  --primary: #333333;
  --primary-foreground: #F5F5F5;
  --secondary: #F0F0F0;
  --secondary-foreground: #333333;

  --muted: #EEEEEE;
  --muted-foreground: #888888;
  --accent: #EAEAEA;
  --accent-foreground: #333333;

  --destructive: #E25858;
  --destructive-foreground: #FFFFFF;

  --border: #E5E5E5;
  --input: #E5E5E5;
  --ring: #BBBBBB;

  --chart-1: #F4BB68;
  --chart-2: #57A1E5;
  --chart-3: #7C83FD;
  --chart-4: #F6A5C0;
  --chart-5: #FFD166;

  --sidebar: #F9F9F9;
  --sidebar-foreground: #252525;
  --sidebar-primary: #333333;
  --sidebar-primary-foreground: #F9F9F9;
  --sidebar-accent: #EAEAEA;
  --sidebar-accent-foreground: #333333;
  --sidebar-border: #E5E5E5;
  --sidebar-ring: #BBBBBB;
}

.dark {
  --background: #252525;
  --foreground: #F5F5F5;
  --card: #252525;
  --card-foreground: #F5F5F5;
  --popover: #252525;
  --popover-foreground: #F5F5F5;

  --primary: #F5F5F5;
  --primary-foreground: #333333;
  --secondary: #444444;
  --secondary-foreground: #F5F5F5;

  --muted: #444444;
  --muted-foreground: #999999;
  --accent: #444444;
  --accent-foreground: #F5F5F5;

  --destructive: #AA3333;
  --destructive-foreground: #F5F5F5;

  --border: #444444;
  --input: #444444;
  --ring: #666666;

  --chart-1: #A5D8FF;
  --chart-2: #FFD6A5;
  --chart-3: #E9A8F2;
  --chart-4: #FFADAD;
  --chart-5: #FFF6A5;

  --sidebar: #333333;
  --sidebar-foreground: #F5F5F5;
  --sidebar-primary: #A5D8FF;
  --sidebar-primary-foreground: #F5F5F5;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #F5F5F5;
  --sidebar-border: #444444;
  --sidebar-ring: #666666;
}

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE, Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}