@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #242424;
  --card: #ffffff;
  --card-foreground: #242424;
  --popover: #ffffff;
  --popover-foreground: #242424;
  --primary: #343434;
  --primary-foreground: #fbfbfb;
  --secondary: #f7f7f7;
  --secondary-foreground: #343434;
  --muted: #f7f7f7;
  --muted-foreground: #8d8d8d;
  --accent: #f7f7f7;
  --accent-foreground: #343434;
  --destructive: #e63946; /* 대체된 강렬한 빨간색 */
  --destructive-foreground: #ffffff;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b4b4b4;
  --chart-1: #ffbe0b; /* 노랑 */
  --chart-2: #3a86ff; /* 파랑 */
  --chart-3: #8338ec; /* 보라 */
  --chart-4: #ff006e; /* 진한 핑크 */
  --chart-5: #fb5607; /* 오렌지 */
  --radius: 0.625rem;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #242424;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b4b4b4;
}

.dark {
  --background: #242424;
  --foreground: #fbfbfb;
  --card: #242424;
  --card-foreground: #fbfbfb;
  --popover: #242424;
  --popover-foreground: #fbfbfb;
  --primary: #fbfbfb;
  --primary-foreground: #343434;
  --secondary: #444444;
  --secondary-foreground: #fbfbfb;
  --muted: #444444;
  --muted-foreground: #b4b4b4;
  --accent: #444444;
  --accent-foreground: #fbfbfb;
  --destructive: #d90429;
  --destructive-foreground: #ffffff;
  --border: #444444;
  --input: #444444;
  --ring: #6f6f6f;
  --chart-1: #4361ee;
  --chart-2: #06d6a0;
  --chart-3: #fb5607;
  --chart-4: #3a0ca3;
  --chart-5: #ffbe0b;
  --sidebar: #343434;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #4361ee;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: #444444;
  --sidebar-ring: #6f6f6f;
}

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE, Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}